html,body
{
  margin: 0px;
  padding: 0px;
}

body
{
  background-color: #1a1925;
  background-image: url(/images/bg.jpg);
}

#display
{
  position: absolute;
  left: 20px;
  top: 20px;
  width: 800px;
  height: 500px;
  background-color: black;
}

#display canvas
{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#command-buffer
{
  position: absolute;
  left: 10px;
  bottom: 10px;
}